.bgimg{
    align-content: center;
    height: fit-content;
    height: 900px;
    background-size: cover;
}

.btn-grad {
    background-color: black;
    margin: 5px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.btn-grad:hover {
    background-color: #fff;
    border: 2.5px solid black;
    color: black;
    padding: 12px 17px;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
    font-size: 15px;
}

body{
    background-color: #C7C7C7;
    font-family: 'Ubuntu',
    sans-serif;
}

.aa {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.aa:hover {
    color: yellow;
    font-size: 23px;
    text-decoration: underline;
}
.heading{
    color: white;
}

.heading:hover{
    color: yellow;
    font-size: 37px;
    text-decoration: none;
}

.panel-custom-horrible-black {
    border-color: black;
}

.panel-custom-horrible-black > .panel-heading {
    background: black;
    color: #ffffff;
    border-color: black;
}
.panel-footer{
    background: black;
}



.panel{
    background-color: #F5F5F5;
    border: 2px;
}
.text-warning{
    font-size: 16px;
}
.icon{
    color: black;
    font-size: 25px;
    padding-right: 1cm;
}
.btn-join {
    background-color: black;
    margin: 2px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.btn-join:hover {
    background-color: #fff;
    border: 2px solid black;
    color: black;
    padding: 7px 12px;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
    font-size: 15px;
}